.event-app {
  display: flex;
  color: black;
}

.event-form, .event-list {
  flex: 1;
}

.title {
  color: #4b678a;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 15px;
}

.input-group {
  input {
    width: 80%;
    margin-right: 20%;
    height: 40px;
    padding: 10px 5px 10px 8px;
    box-sizing: border-box;
    font-size: 13px;
    border-radius: 4px;
    border-color: #369;
    box-shadow: none;
  }

  input + input {
    margin-top: 10px;
  }
}

button {
  color: white;
  width: 80%;
  padding: 9px 8px 10px;
  border: 0;
  margin-top: 20px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  font-size: 16px;
  line-height: 1.42857;
  border-radius: 4px;
  background-color: #3cbd77;
}

.header-container {
  display: flex;

  > div {
    flex: 1;
    text-align: center;
  }
}
